/* ESTILO MENSAJE ANIMADO */

.animation-message {
    display: block;
    position: fixed;
    height: 70px;
    width: 100px;
    right: var(--small);
    bottom: var(--small);
    animation: 
    pulse infinite ease-out alternate 1.5s,
    slideIn 2s ease-in;
    z-index: 100;

    &__button {
        height: 100%;
        width: 100%;
        border: none;
        background-color: transparent;
    
        & i {
            align-self: center;
            font-size: var(--animation-font-size);
            color: var(--text-color);
            text-shadow: var(--main-color) 1px 1px 10px;
        }
    }    
}

/* ESTILO BACKGROUND IMG */

.background__figure {
    margin: 0

    &__img {
        min-height: 400px
        max-height: 100vh
        width: 100%
        margin: 0
        object-fit: cover
    }
}

/* ESTILO SECTION INFO*/

.section-info {
    display: flex
    flex-flow: column wrap
    width: 100%
}

.protocol {
    text-align: center
    font-family: var(--text-font)
    font-weight: 400
    color: var(--text-color)
    padding: var(--small) var(--xsmall)
    border-radius: 1rem
    border: 1px solid var(--text-color)
    margin: var(--xsmall)
    font-size: var(--text-font-size)

    & h3 {
        font-family: var(--text-font)
        font-weight: 400
        color: var(--text-color)
        font-size: var(--title-font-size)
    }
}

.quote {
    text-align: center
    font-family: var(--text-font)
    font-weight: 400
    font-size: var(--text-font-size)
    color: var(--text-color)
    margin: var(--small)
    padding: 0 var(--medium)

    & h4 {
        font-family: var(--text-font)
        font-weight: 400
        color: var(--text-color)
        font-size: var(--title-font-size)
        text-align: end
    }
}