:root {
    --main-color: #F2F4F3;
    --text-color: #8E6C88;

    --title-font: 'Satisfy', cursive;
    --text-font: 'Zilla Slab', serif;

    --text-font-size: 1.3em;
    --title-font-size: 1.9em;
    --sup-title-font-size: 2.5em;
    --animation-font-size: 4em;

    --xsmall:1rem;
    --small: 2rem;
    --medium: 2.5rem;
    --large: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(180deg, rgba(250,216,214,1) 16%, rgba(255,255,255,1) 100%);
}

/* ESTILO HEADER */

.nav-responsive__ul {
    display: none;
}

.header-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    padding-left: var(--small);
}

.nav__ul {
    display: flex;
    text-align: end;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: var(--small);
}

.nav__li{
    display: inline-block;
    color: var(--text-color);
    padding: var(--xsmall);
    font-weight: 400;
    font-family: var(--title-font);
    font-size: var(--text-font-size);
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    transition: .3s ease;
}

.nav__li a {
    text-decoration: none;
    text-align: right;
    padding: .7rem;
    color: var(--text-color);
} 

.header__logo {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: var(--xsmall);
}

.header__img {
    width: 100%;
}

.nav__li:hover {
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    padding: .3rem var(--xsmall);
}

.nav__li a:hover {
    color: var(--text-color);
}

.responsive__button-container {
    display: flex;
    width: 100%;
    font-size: var(--title-font-size);
    padding-right: var(--xsmall);
}

/* ESTILO MENSAJE ANIMADO */

.animation-message {
    display: block;
    position: fixed;
    height: 70px;
    width: 100px;
    right: var(--small);
    bottom: var(--small);
    animation: 
    pulse infinite ease-out alternate 1.5s,
    slideIn 2s ease-in; 
    z-index: 100;
}

.animation__button {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
}

.animation__button i {
    align-self: center;
    font-size: var(--animation-font-size);
    color: var(--text-color);
    text-shadow: var(--main-color) 1px 1px 10px;
}


@keyframes slideIn {
    0% {
        transform: translateX(-1500px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes pulse {
    0% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-20deg);
    }
}
/* ESTILO BACKGROUND IMG */

.background__figure {
    margin: 0;
}

.background__img {
    min-height: 400px;
    max-height: 100vh;
    width: 100%;
    margin: 0;
    object-fit: cover;
}

/* ESTILO SECTION INFO*/

.section-info {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.protocol {
    text-align: center;
    font-family: var(--text-font);
    font-weight: 400;
    color: var(--text-color);
    padding: var(--small) var(--xsmall);
    border-radius: 1rem;
    border: 1px solid #000;
    margin: var(--xsmall);
    font-size: var(--text-font-size);
}

.protocol h3 {
    font-family: var(--text-font);
    font-weight: 400;
    color: var(--text-color);
    font-size: var(--title-font-size);
}

.quote {
    text-align: center;
    font-family: var(--text-font);
    font-weight: 400;
    font-size: var(--text-font-size);
    color: var(--text-color);
    margin: var(--small);
}

.quote h4 {
    font-family: var(--text-font);
    font-weight: 400;
    color: var(--text-color);
    font-size: var(--title-font-size);
    text-align: end;
}

/* ESTILO GALLERY */

.gallery {
	display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 80vh);
}

.gallery__figure {
    margin: 0;
    position: relative;
    object-fit: cover;
}

.gallery__image {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    filter: grayscale(.8);
}

.gallery__figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: var(--xsmall);
    opacity: 0;
    font-family: var(--text-font);
    text-shadow: 0 0 3px #000, 0 0 5px #000;
}

.gallery__figure:hover figcaption {
    opacity: 1;
}

.gallery__image:hover {
    filter: none;
}

.gallery__figure:first-child {
    grid-column: 1/5;
    grid-row: 1;
}

.gallery__figure:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2;
}

.gallery__figure:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2;
}

.gallery__figure:nth-child(7) {
    grid-column: 3/4;
    grid-row: 2;
}

.gallery__figure:nth-child(8) {
    grid-column: 4/5;
    grid-row: 2;
}

.gallery__figure:nth-child(4) {
    grid-column: 3/5;
    grid-row: 3;
}

.gallery__figure:nth-child(6) {
    grid-column: 1/3;
    grid-row: 3;
}

.gallery__figure:nth-child(5) {
    grid-column: 1/5;
    grid-row: 4;
}

/* ESTILO PRINTS */

.print-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
    position: relative;
    justify-content: space-around;
    row-gap: var(--large);
    column-gap: var(--xsmall);
    margin: var(--medium);
}

.print__figure {
    margin: 0;
}

.print__img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.print__article {
    align-self: center;
    justify-self: center;
    position: relative;
    height: 700px;
    width: 100%;
    border: 2px solid var(--text-color);
    padding: var(--xsmall);
    border-radius: 2%;
    opacity: 1;
}

article:hover img {
    opacity: .4;
}

section h3 {
    font-family: var(--text-font);
    font-weight: 400;
    color: var(--text-color);
}

.price {
    position: absolute;
    top: 40% ;
    left: 40%;
    padding: var(--xsmall) var(--small);
    border: 3px solid var(--text-color);
    background-color: var(--main-color);
    border-radius: 50%;
    font-family: var(--text-font);
    font-weight: 800;
    color: var(--text-color);
    font-size: var(--title-font-size);
    opacity: 0;
    cursor: pointer;
    transition: all 1.2s ease;
}

article:hover .price {
    opacity: 1;
    transform: rotate(360deg) scale(1.5);
}

/* ESTILO PROGRESS BAR */

.progress {
    position: sticky;
    top: 0;
}

/* ESTILO BLOG ART 1 */

.blog-container-1 {
    height: 100%;
    margin: var(--xsmall);
    padding: var(--xsmall);
    border: 1px solid var(--text-color);
    font-family: var(--text-font);
    color: var(--text-color);
}

.blog__article-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(160px);
}

.header-1 {
    grid-column: 1 / span 3;   
    grid-row: 1 / 2;
}

.header-1 h1 {
    text-align: center;
    font-size: var(--title-font-size);
    font-family: var(--text-font);
    color: var(--text-color);
}

.header-1 p {
    font-size: var(--text-font-size);
    border-bottom: 1px solid var(--text-color);
    text-align: center;
}

.main-1 {
    grid-column: 1 / span 3;
    grid-row: 2 / 3;
}

.main-1 h4 {
    font-size: var(--medium);
    font-family: var(--text-font);
    color: var(--text-color);
    text-decoration: underline;
}

.main-1 p {
    margin: var(--small) 0;
    font-size: var(--text-font-size);
    text-align: justify;
}
.main-1 p:first-child {
    font-style: italic;
    padding-bottom: var(--medium);
    text-align: center;
    margin-top: var(--large);
}

.main-1 .main__img {
    width: 70%;
    object-fit: cover;
}

.aside-1 {
    text-align: center;
    margin: var(--xsmall);
    grid-column: 4 / 5;
    grid-row: 1 / span 3;
}

.aside-1  h4 {
    margin: var(--xsmall);
    text-align: justify;
}

.aside-1  p {
    margin: var(--xsmall);
    text-align: justify;
    padding-bottom: var(--xsmall);
    border-bottom: 1px solid var(--text-color);
}

.aside-1 a {
    text-decoration: none;
    color: var(--text-color);
}

.aside-1 a:hover {
    color: #000;
}

.aside__img {
    height: 200px;
    width: 70%;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: var(--xsmall);
}

.footer-1 {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid var(--text-color);
    justify-content: flex-start;
    padding: var(--xsmall);
}

.footer-1__li {
    display: inline-block;
    margin-right: var(--xsmall);
    font-size: large;
}

.footer-1__li a {
    color: var(--text-color);
}

.footer-1__li a:hover {
    color: #000;
}

/* ESTILO ABOUT */

.about_contact-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
}

.bio-container {
    grid-row: 1;
    width: 100%;
    padding: var(--xsmall);
}

.bio__section {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding: var(--xsmall);
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.bio__section-text {
    width: 50%;
    flex: 1 1 50%;
    align-self: center;
    margin: var(--xsmall);
}

.bio__section--h1 {
    font-family: var(--title-font);
    font-weight: 400;
    color: var(--text-color);
    font-size: var(--sup-title-font-size);
}

.bio__figure {
    margin: auto;
    width: 50%;
    flex: 1 1 50%;
}

.bio__section--p {
    text-align: justify;
    font-family: var(--text-font);
    font-weight: 400;
    color: var(--text-color);
    font-size: var(--text-font-size);
}

.bio__img  {
    height: 700px;
    width: 100%;
    object-fit: cover;
    border-radius: 3%;
}
 *
/* ESTILO FORM */

.form {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 40px 350px 50px 50px;
    gap: var(--xsmall);
    margin: var(--small);
}

.form__h2-container {
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
}

.form__h2 {
    font-family: var(--title-font);
    font-weight: 400;
    color: var(--text-color);
    font-size: var(--sup-title-font-size);
    text-decoration: underline;
}

.form__textarea-container {
    grid-column: 2/5;
    grid-row: 2;
    margin: var(--small) 0;
}

.form__textarea {
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    background-color: var(--main-color);
    border-radius: var(--xsmall);
    padding: var(--xsmall);
    border-bottom: 2px solid var(--text-color);
}

.form__input-container--name {
    grid-column: 3;
    grid-row: 3;
    justify-self: end;
    
}

.form__input-container--email {
    grid-column: 4;
    grid-row: 3;
    justify-self: end;
}

.form__input {
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    padding: var(--xsmall);
    background-color: var(--main-color);
    border-radius: var(--xsmall);
    border-bottom: 2px solid var(--text-color);
}

.form__button-container {
    grid-column: 2;
    grid-row: 4;
    justify-self: center;
    width: 100%;
}

.form__button {
    cursor: pointer;
    border: 2px solid var(--text-color);
    background-color: transparent;
    color: var(--text-color);
    font-family: var(--title-font);
    font-weight: 400;
    font-size: var(--title-font-size);
    padding: .5rem 1.5rem;
    border-radius: var(--xsmall);
}

.form__button:hover {
    background-color: var(--text-color);
    color: var(--main-color);
}

.form__textarea::placeholder {
    text-align: left;
}

::placeholder {
    font-family: var(--title-font);
    font-weight: 400;
    color: var(--text-color);
    font-size: var(--text-font-size);
    text-align: center;
}

/* ESTILO FOOTER */

.footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: var(--xsmall);
    padding: var(--xsmall);
    border-top: 1px solid var(--text-color);
    background-color: var(--main-color);
}

.copyright {
    color: var(--text-color);
    font-weight: 400;
    font-family: var(--title-font);
    font-size: var(--text-font-size);
}

.footer__ul {
    color: var(--text-color);
    font-weight: 800;
}

.footer__li {
    list-style-type: none;
    text-align: center;
}

.footer__li a {
    color: var(--text-color);
}

.footer__li a:hover {
    color: var(--text-color);
}

/* ESTILO MOBILE */

@media only screen and (max-width: 600px) {

    :root {
        --text-font-size: 1.2em;
        --title-font-size: 1.5em;
        --sup-title-font-size: 2em;
    }

    /* ESTILO NAV */

    .nav__ul {
        display: none;
    }

    .header__img {
        height: 50px;
    }

    .nav-responsive__ul {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 0;
    }
    .nav-responsive__li-container {
        position: absolute;
        list-style: none;
        width: 100%;
        background-color: var(--main-color);
        transition: all .8s;
        top: -400px;
        left: 0;
        margin-top: 65px;
        z-index: 1;
    }

    .nav-responsive__li {
        padding: var(--xsmall);
    }
    
    .nav-responsive__li a {
        text-decoration: none;
        text-align: center;
        padding: var(--xsmall);
        font-weight: 400;
        font-family: 'Satisfy', cursive;
        font-size: var(--text-font-size); 
        color: var(--text-color);  
    }
    
    .nav-responsive__ul:hover > .nav-responsive__li-container {
        top: 0px;
    }

    /* GRID RESPONSIVE MAIN */

    .main__index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1000px 300px 500px;
    }

    /* ESTILO GALLERY */

    .gallery {
        display: flex;
        flex-flow: column wrap;
        gap: var(--xsmall);
    }

    .gallery__image {
        height: 60vh;
        width: 100%;
    }
    
    /* ESTILO PRINTS */

    .print-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(1fr);
        margin: var(--xsmall) 0;
    }

    .price {
        padding: var(--xsmall);
        border: 1px solid var(--text-color);
        font-size: var(--text-font-size);
    }
    
    .print__img {
        height: 300px;
    }
    
    .print__article {
        height: 400px;
    }
    
    /* ESTILO BLOG */

    .blog__article-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(160px);
    }
    
    .header-1 {
        grid-column: 1 / 3;   
        grid-row: 1 / 2;
    }

    .main-1 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    
    .aside-1 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        margin: 0;
    }

    .aside-1 p {
        border: none;
    }

    .footer-1 {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        display: flex;
        flex-flow: row wrap;
        border-top: 1px solid var(--text-color);
        justify-content: flex-start;
        padding: var(--xsmall);
    }
    
    /* ABOUT & CONTACT */

    .bio__section {
        display: flex;
        flex-flow: column;
        padding: 0;
    }
    
    .bio__section-text {
        width: 100%;
    }

    .bio__figure {
        width: 100%;
    }

    .bio__img {
        height: 300px;
        width: 100%;
    }

    .form {
        grid-row: 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 40px 350px 50px 50px;
        gap: var(--xsmall);
        margin: var(--small);
    }

    .form__h2-container {
        grid-column: 1/3;
        grid-row: 1;
        justify-self: center;
    }    

    .form__textarea-container {
        grid-column: 1/3;
        grid-row: 2;
        margin: var(--small) 0;
    }    
    
    .form__input-container--name {
        grid-column: 1;
        grid-row: 3;
        justify-self: end;
    }    

    .form__input-container--email {
        grid-column: 2;
        grid-row: 3;
        justify-self: end;
    }

    .form__button-container {
        grid-column: 1/3;
        grid-row: 4;
        justify-self: center;
        width: 100%;
    }

    .form__button {
        width: 100%;
    }
}
