<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un poco de mi</title>
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <!-- MENU DE NAV. -->
    <header class="header-container">
        <div class="header__logo"><a href="../index.html"><img class="header__img" src="../indexlogo.png" alt="logo"></a></div>
        <nav class="nav">
            <ul class="nav__ul">
                <div class="nav__li-container"> 
                    <li class="nav__li"><a href="../index.html">Home</a></li>
                    <li class="nav__li"><a href="../views/proyectos.html">Proyectos</a></li>
                    <li class="nav__li"><a href="../views/print.html">Prints</a></li>
                    <li class="nav__li"><a href="../views/blog.html">Blog</a></li>
                    <li class="nav__li"><a href="../views/about_contacto.html">Un poco de mi</a></li>
                </div> 
            </ul>
    <!-- MENU RESPONSIVE -->
            <ul class="nav-responsive__ul">
                <div class="responsive__button-container"><div class="responsive-button"><i class="fa fa-bars"></i></div></div>
                <div class="nav-responsive__li-container"> 
                    <li class="nav-responsive__li"><a href="../index.html">Home</a></li>
                    <li class="nav-responsive__li"><a href="../views/proyectos.html">Proyectos</a></li>
                    <li class="nav-responsive__li"><a href="../views/print.html">Prints</a></li>
                    <li class="nav-responsive__li"><a href="../views/blog.html">Blog</a></li>
                    <li class="nav-responsive__li"><a href="../views/about_contacto.html">Un poco de mi</a></li>
                </div> 
            </ul>
        </nav>
    </header>
    <!-- FIN MENU DE NAV. -->
    <!-- BIOGRAFIA -->
    <main class="about_contact-container">
        <div class="bio-container">
            <div class="bio__text">
                <section class="bio__section">
                    <figure class="bio__figure">
                        <img class="bio__img" src="../fotos/fotoabout.JPG" alt="Natali">
                    </figure>
                    <div class="bio__section-text">   
                        <h1 class="bio__section--h1">Natali Del Percio</h1>
                        <p class="bio__section--p">Siempre tuve una fascinación por las cámaras. Cuando tenia seis años, solía jugar con la vieja Kodak de mis padres y me emocionaba el destello de luz que pasaba cuando presionaba el botón del obturador. Más tarde, mi madre compró una camara Minolta y yo la sacaba a escondidas del armario para explorar su funcionamiento.

                        A los 16 ahorré y ahorré y me compré mi primera réflex Canon que pocas veces se apartaba de mi lado. Al crecer en Argentina, la diversidad geografica fue un telón de fondo que me inspiro y lleno mi alma.
                            
                        Por alguna razón, nunca creí que fuera permisible ser fotógrafa profesional, nunca me pareció una carrera apropiada. En lugar de eso estudie Educacion Fisica que fue muy divertido, pero creo que nunca me hizo feliz.
                            
                        La fotografía quedó relegada a los fines de semana y días festivos y nunca recibía suficiente atención como para ascender en la curva de aprendizaje. Tendría que esperar veinte años antes de que regresara como una pasión que lo consumiera todo.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    <!-- FIN BIOGRAFIA --> 
    <!-- CONTACTO -->
        <form class="form" id="0001">
            <div class="form__h2-container">
                <h2 class="form__h2">Contacto</h2>
            </div>
            <div class="form__textarea-container">
                <textarea class="form__textarea" placeholder="Dejame un mensaje!"></textarea>
            </div>
            <div class="form__input-container--name">
                <input  class="form__input" type="text" placeholder="Nombre">
                </div>
            <div class="form__input-container--email">
                <input  class="form__input" type="email" placeholder="Mail">
            </div>
            <div class="form__button-container d-grid gap-2 col-6 mx-auto">
                <button type="button" class="form__button btn btn-lg" style="background-color:#8E6C88; border-color: #F2F4F3; color: #F2F4F3;">Enviar</button>
            </div>
        </form>
    </main>
    <!-- FIN CONTACTO -->
    <!-- FOOTER & INSTA -->
    <footer>
        <div class="footer">
            <div class="copyright">&copy; Natali Del Percio Fotografia</div>
            <div>
                <ul class="footer__ul">
                    <li class="footer__li"><a href="https://www.instagram.com" target="blank"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- FIN FOOTER & INSTA -->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c539e2d60d.js" crossorigin="anonymous"></script>
</body>
</html>