<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Italiana&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <!-- MENU DE NAV. -->
    <header class="header-container">
        <div class="header__logo"><a href="../index.html"><img class="header__img" src="../indexlogo.png" alt="logo"></a></div>
        <nav class="nav">
            <input type="checkbox" class=“nav__button” id="nav__button">
            <label for="nav__button" class="nav__label"><i class="fa fa-bars"></i></label>        
            <ul class="nav__ul">
                <div class="nav__li-container"> 
                    <li class="nav__li"><a href="../index.html">Home</a></li>
                    <li class="nav__li"><a href="./proyectos.html">Proyectos</a></li>
                    <li class="nav__li"><a href="./print.html">Prints</a></li>
                    <li class="nav__li"><a href="./blog.html">Blog</a></li>
                    <li class="nav__li"><a href="./about_contacto.html">Un poco de mi</a></li>
                </div> 
            </ul>
        </nav>
    </header>
    <!-- FIN MENU DE NAV. -->
    <!-- BLOG -->
    <main>
        <div class="progress" style="height: .5rem;">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="myBar"></div>
        </div>
        <div class="blog-container-1">
            <div class="blog__article-1">
                <div class="header-1">
                    <h1 class="header-1__h1">Configuración manual, primeros pasos</h1>
                    <p>Por Natali Del Percio | Posteado: 07/5/2022</p>
                </div>
                <div class="main-1">
                    <p>Así que ya sabes cómo fotear con luz natural. Sabes cómo lograr la exposición perfecta. Pero, ¿sabe cómo funcionan juntas las configuraciones de tu cámara para lograr la exposición adecuada? ¿Qué tal si lanzas un flash a la mezcla? ¡Sí! Lo sé. Velocidad de obturación, apertura, ISO… ¿charla técnica? Tal vez sea así, pero toda es buena información que nosotros, como profesionales, debemos saber y comprender. No es necesario que sea un experto, pero al menos tenga un conocimiento básico de cómo funcionan juntas las configuraciones de su cámara. Si aún no lo sabe, querrá buscar 'triángulo de exposición'. Esto le dará la comprensión de cómo estos tres ajustes funcionan juntos para lograr una exposición adecuada. Esta publicación en particular va a repasar cómo estas configuraciones afectan la cantidad de iluminación ambiental y de flash que ingresa a su cámara a través de la lente cuando pones tu flash en manual.</p>
                    <h4>Empecemos desde lo mas basico…</h4>
                    <p><strong>Velocidad de obturación:</strong> Esta es la cantidad de tiempo, o CUÁNTO TIEMPO, el obturador de su cámara está abierto una vez que presiona el botón del obturador. Esto podría ser de 1/15 segundos a 30 segundos, dependiendo de lo que haya configurado y de su cámara específica. Cuanto más tiempo permanezca abierto el obturador, más luz ambiental entrará en la cámara. Su obturador controla la cantidad de luz ambiental que ingresa a su lente.
                    <p><strong>Apertura:</strong> Comúnmente conocida como “f-stop”. Este es el tamaño de la apertura de la cámara en el momento en que se cierra el obturador. Determina CUÁNTA luz se deja entrar en la cámara. Esto también es responsable de su profundidad de campo (DOF). Una apertura grande significará que su DOF será poco profundo y una apertura más pequeña (f/22) significará un DOF grande, lo que significa que habrá mucho más enfocado. Pero por ahora, solo hablaremos sobre cómo afecta la luz. La apertura más grande (número pequeño f/2.8, apertura más grande) permitirá que entre más flash en la cámara. Una apertura más pequeña (mayor número f/22, apertura más pequeña) permitirá que entre mucho menos flash en la cámara. ¡Tu apertura controla tu exposición con flash!</p>
                    <p><strong>ISO:</strong> La sensibilidad de su cámara a la luz. Cuanto mayor sea el ISO, mayor será la sensibilidad y más grano obtendrá. Cuanto menor sea el ISO, el archivo más limpio (menos grano) tendrá.</p>
                    <p>En los siguientes conjuntos de fotografías, utilicé mi flash Canon 580EX II a máxima potencia 1/1 con un paraguas reflectante apuntando a la querida y dulce princesa Aurora. ¡No podría haber pedido un modelo mejor!</p>
                    <img class="main__img" src="../blog/Shutter.jpg" alt="Shutter">
                    <p>En la imagen de arriba, observe el fondo. Lo único que cambia de fotograma a fotograma es la velocidad de obturación. La cantidad de luz en mi "modelo" sigue siendo la misma. Cuanto más tiempo permanece abierto el obturador, más luz ambiental (mi luz natural del exterior) se filtra, creando un fondo más brillante. En el último cuadro, la luz ambiental es casi igual a la iluminación del flash. Si desea un fondo más oscuro, tenga una velocidad de obturación más rápida, un fondo más claro tendrá una velocidad de obturación más lenta (más larga). Su obturador controla la cantidad de luz ambiental que ingresa a su lente.</p>
                    <img class="main__img" src="../blog/aperture.jpg" alt="Aperture">
                    <p>En esta serie anterior, observe que el único cambio realizado entre cada cuadro es la apertura. La apertura en f/2.8 está más abierta que el marco con una apertura de f/8. En el cuadro del extremo derecho de f/2.8, la apertura está demasiado abierta, lo que hace que mi sujeto quede sobreexpuesto. En los encuadres centrales, el sujeto tiene visiblemente menos iluminación porque detuvimos/reducimos la apertura, lo que hizo que la apertura fuera más pequeña, lo que permitió que entrara menos luz en la cámara. En el cuadro del extremo izquierdo, la apertura es mucho más pequeña que en los de la derecha, por lo que permite que entre mucha menos luz en la cámara. Entonces, ¿qué haces si estás usando flash y tu sujeto está sobreexpuesto? Detiene su apertura haciendo que su f/# sea un número más grande. En lugar de f/2.8, pruebe con f/4 o f/5.6, etc. ¡Su apertura controla la exposición del flash!</p>
                    <p>¿Ves cómo funciona eso? ¿Ya te golpeaste la cabeza contra el escritorio o estás teniendo un momento de bombilla? ¡Ojalá esto último!</p>
                    <p>Cubriré rápidamente ISO aquí también. Es simple, cuanto más alto configure su ISO, más sensible será el sensor de su cámara a la luz general, haciendo que toda su imagen sea más brillante. Sin embargo, recuerde que cuanto más alto establezca su ISO, es más probable que vea grano/ruido en su imagen, por lo que es mejor el ISO más bajo que pueda obtener.</p>
                    <img class="main__img" src="../blog/ISO.jpg" alt="ISO">
                    <p>¡Puedes ver en la imagen de arriba que cuanto mayor sea el ISO, más brillante será la imagen! ¡Sencillo!</p>
                    <p>Espero que esto haya sido útil para aquellos de ustedes que no están familiarizados o no se sienten cómodos con la configuración manual mientras usan el flash. Espero que obtenga de esto una comprensión básica de cómo cada una de las configuraciones afecta la iluminación diferente a través de su imagen para que pueda practicar por su cuenta para ver qué diferentes efectos puede crear, ¡incluso con una sola luz!</p>
                    <p><strong>¡Suerte!</strong></p>
                </div>
                <div class="aside-1">
                    <img class="aside__img" src="../fotos/fotoabout.JPG" alt="Natali Del Percio">
                    <h4>Sobre el Autor:</h4>
                    <p>Siempre tuve una fascinación por las cámaras. Cuando tenia seis años, solía jugar con la vieja Kodak de mis padres y me emocionaba el destello de luz que pasaba cuando presionaba el botón del obturador. Más tarde, mi madre compró un Minolta y yo la sacaba a escondidas del armario para explorar su funcionamiento. A los 16 ahorré y ahorré y me compré mi primera réflex Canon que pocas veces se apartaba de mi lado. Al crecer en Argentina, la diversidad geografica fue un telón de fondo que me inspiro y lleno mi alma. <a href="./about_contacto.html">Seguir leyendo...</a></p>
                </div>
                <div class="footer-1">
                    <ul class="footer-1__ul">
                        <li class="footer__li"><span>Seguir leyendo:</span></li>
                        <li class="footer__li"><a href="">Primer trabajo</a></li>
                        <li class="footer__li"><a href="">Lentes mas economicas</a></li>
                        <li class="footer__li"><a href="">Mejores cursos</a></li>
                    </ul>
                </div>   
            </div>
        </div>
    </main>
    <!-- FIN BLOG -->
    <!-- FOOTER & INSTA -->
    <footer>
        <div class="footer">
            <div class="copyright">&copy; Natali Del Percio Fotografia</div>
            <div>
                <ul class="footer__ul">
                    <li class="footer__li"><a href="https://www.instagram.com" target="blank"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- FIN FOOTER & INSTA -->
    <!-- JavaScript -->
    <script>
        window.onscroll = function() {myFunction()};
        function myFunction() {
            var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
            var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            var scrolled = (winScroll / height) * 100;
            document.getElementById("myBar").style.width = scrolled + "%";
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c539e2d60d.js" crossorigin="anonymous"></script>        
</body>
</html>