<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/c539e2d60d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <!-- MENU DE NAV. -->
    <header class="header-container">
        <div class="header__logo"><a href="../index.html"><img class="header__img" src="../indexlogo.png" alt="logo"></a></div>
        <nav class="nav">
            <ul class="nav__ul">
                <div class="nav__li-container"> 
                    <li class="nav__li"><a href="../index.html">Home</a></li>
                    <li class="nav__li"><a href="../views/proyectos.html">Proyectos</a></li>
                    <li class="nav__li"><a href="../views/print.html">Prints</a></li>
                    <li class="nav__li"><a href="../views/blog.html">Blog</a></li>
                    <li class="nav__li"><a href="../views/about&contacto.html">Un poco de mi</a></li>
                </div> 
            </ul>
    <!-- MENU RESPONSIVE -->
            <ul class="nav-responsive__ul">
                <div class="responsive__button-container"><div class="responsive-button"><i class="fa fa-bars"></i></div></div>
                <div class="nav-responsive__li-container"> 
                    <li class="nav-responsive__li"><a href="../index.html">Home</a></li>
                    <li class="nav-responsive__li"><a href="../views/proyectos.html">Proyectos</a></li>
                    <li class="nav-responsive__li"><a href="../views/print.html">Prints</a></li>
                    <li class="nav-responsive__li"><a href="../views/blog.html">Blog</a></li>
                    <li class="nav-responsive__li"><a href="../views/about&contacto.html">Un poco de mi</a></li>
                </div> 
            </ul>
        </nav>
    </header>
    <!-- FIN MENU DE NAV. -->
    <!-- GALERIA -->
    <main>
        <div class="gallery">
            <figure class="gallery__figure">
                <img class="gallery__image" src="../fotos/01.jpg" alt="Foto 1">
                <figcaption class="gallery__figcaption">Cerro Los Colorados</figcaption>
            </figure>
            <figure class="gallery__figure">
                <img class="gallery__image" src="../fotos/02.jpg" alt="Foto 2">
                <figcaption class="gallery__figcaption">Ruta Nacional 68</figcaption>
            </figure>
            <figure class="gallery__figure">
                <img class="gallery__image" src="../fotos/03.jpg" alt="Foto 3">
                <figcaption class="gallery__figcaption">Garganta del Diablo</figcaption>
            </figure>
            <figure class="gallery__figure">
                <img class="gallery__image"src="../fotos/04.jpg" alt="Foto 4">
                <figcaption class="gallery__figcaption">Macizo de los Siete Colores</figcaption>
            </figure>
            <figure class="gallery__figure">
                <img class="gallery__image" src="../fotos/05.jpg" alt="Foto 5">
                <figcaption class="gallery__figcaption">Aconcagua</figcaption>
            </figure>
            <figure class="gallery__figure">
                <img class="gallery__image" src="../fotos/06.jpg" alt="Foto 6">
                <figcaption class="gallery__figcaption">Glaciar Perito Moreno</figcaption>
            </figure>
            <figure class="gallery__figure">
                <img class="gallery__image" src="../fotos/07.jpg" alt="Foto 7">
                <figcaption class="gallery__figcaption">Lago Potrerillos</figcaption>
            </figure>
            <figure class="gallery__figure">
                <img class="gallery__image" src="../fotos/09.jpg" alt="Foto 9">
                <figcaption class="gallery__figcaption">Cataratas del Iguazu</figcaption>
            </figure>
        </div>
    <!-- FIN GALERIA -->
    </main>
    <!-- FOOTER & INSTA -->
    <footer>
        <div class="footer">
            <div class="copyright">© Natali Del Percio Fotografia</div>
            <div>
                <ul class="footer__ul">
                    <li class="footer__li"><a href="https://www.instagram.com" target="blank"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- FIN FOOTER & INSTA -->
</body>
</html>