/* ESTILO FOOTER */

.footer {
    display: flex
    flex-flow: column wrap
    justify-content: center
    align-items: center
    padding: var(--xsmall)
    border-top: 1px solid var(--text-color)
    background-color: var(--main-color)

    &__ul {
        color: var(--text-color)
        font-weight: 800
    }

    &__li {
        list-style-type: none
        text-align: center
    }

    &__li a {
        color: var(--text-color)
    }
}

.copyright {
    color: var(--text-color)
    font-weight: 600
    font-family: var(--title-font)
    font-size: var(--title-font-size)
}
