/* ESTILO HEADER */

.header-container {
    display: flex
    flex-flow: row wrap
    width: 100%
    justify-content: space-between
    align-items: center
    background-color: $main-color
    padding-left: $small
}

.nav {
    display: flex
    justify-content: flex-end


    &__ul {
        display: flex
        text-align: end
        height: 100%
        align-items: center
        justify-content: flex-end
        padding-right: $small
        margin: 0
    }

    &__li{
        display: inline-block
        color: $text-color
        padding: $xsmall
        font-weight: 600
        font-family: $title-font
        font-size: $title-font-size
        border-top: 2px solid $main-color
        border-bottom: 2px solid $main-color
        transition: .3s ease
        padding: $large
    
        & a {
            text-decoration: none
            text-align: right
            padding: .7rem
            color: $text-color
        }
    }

    &__label {
        display: none
    }
}

.header__logo {
    height: 100%
    display: flex
    align-items: center
    margin-top: $xsmall
    padding: 0 $medium
}

.header__img {
    width: 100%
}

    #nav__button {
        display: none
    }

