/* ESTILO HEADER */

.header-container {
    display: flex
    flex-flow: row wrap
    width: 100%
    justify-content: space-between
    align-items: center
    background-color: var(--main-color)
    padding-left: var(--small)
}

.nav {
    display: flex
    justify-content: flex-end


    &__ul {
        display: flex
        text-align: end
        height: 100%
        align-items: center
        justify-content: flex-end
        padding-right: var(--small)
        margin: 0
    }

    &__li{
        display: inline-block
        color: var(--text-color)
        padding: var(--xsmall)
        font-weight: 600
        font-family: var(--title-font)
        font-size: var(--title-font-size)
        border-top: 2px solid var(--main-color)
        border-bottom: 2px solid var(--main-color)
        transition: .3s ease
        padding: var(--large)
    
        & a {
            text-decoration: none
            text-align: right
            padding: .7rem
            color: var(--text-color)
        }
    }

    &__label {
        display: none
    }
}

.header__logo {
    height: 100%
    display: flex
    align-items: center
    margin-top: var(--xsmall)
    padding: 0 var(--medium)
}

.header__img {
    width: 100%
}

    #nav__button {
        display: none
    }

