/* ESTILO MOBILE */

@media only screen and (max-width: 600px) {

   
    $text-font-size: 1.2em;
    $title-font-size: 1.5em;
    $sup-title-font-size: 2em;
    

    /* ESTILO NAV */
    
    .header-container {
        flex-flow: row;
        justify-content: space-between;

        & .header__logo {
            width: 30%;
        }

        & .nav {
            align-items: center;height: 50px;

            & .nav__ul {
                position: absolute;
                top: 60px;
                width: 100%;
                background: $main-color;
                height: 0;
                overflow: hidden;
                transition: height 1s;
                z-index: 100;

                & .nav__li {
                    display: block;
                    width: 100%;
                    padding: 0;

                    & a {
                        width: 100%;
                        display: block;
                    }
                }
            }

            & .nav__label {
                display :block;
                padding: 0 $small;
                font-size: $sup-title-font-size;
                cursor: pointer;
                color: $text-color;
            }


            & #nav__button {
                &:checked {
                    ~ {
                        ul {
                            height: 250px;
                            transition: height 1s;
                        }
                    }
                }
            }
        }
    }

    /* GRID RESPONSIVE MAIN */

    .main__index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1000px 300px 500px;
    }

    /* ESTILO GALLERY */

    .gallery {
        display: flex;
        flex-flow: column wrap;
        gap: $xsmall;
        
        &.gallery__image {
            height: 60vh;
            width: 100%;
        }
    }
    
    /* ESTILO PRINTS */

    .print-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(1fr);
        margin: $xsmall 0;

        & .print__article {
            height: 400px;
        
            & .print__img {
                height: 300px;
            }

            & .price {
                display: block;
                position: relative;
                opacity: 1;
                top: 0;
                left: 0;
                padding: 0;
                border: none;
                background-color: transparent;
                border-radius: 0;
            }
        }
    }

        
    /* ESTILO BLOG */

    .blog-container-1 {

        & .blog__article-1 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: minmax(160px);
            
            & .header-1 {
                grid-column: 1 / 3;   
                grid-row: 1 / 2;
                
                & .header-1__h1 {
                    font-size: 3em;
                }
            }

            & .main-1 {
                grid-column: 1 / 3;
                grid-row: 2 / 3;
            }
            
            & .aside-1 {
                grid-column: 1 / 3;
                grid-row: 3 / 4;
                margin: 0;
                
                & p {
                    border: none;
                }
            }
            
            & .footer-1 {
                grid-column: 1 / 3;
                grid-row: 4 / 5;
                display: flex;
                flex-flow: row wrap;
                border-top: 1px solid $text-color;
                justify-content: flex-start;
                padding: $xsmall;
            }
        }
    }
    
    /* ABOUT & CONTACT */

    .about_contact-container {
        & .bio-container {
            & .bio__section {
                flex-flow: column;
                padding: 0;
            
                & .bio__figure-grid {
                    grid-template-columns: repeat(auto-fill);
                    grid-template-rows: repeat(auto-fill);
                    width: 100%;

                    & .bio__img {
                        width: 100%;
                    }
                }

                & .bio__section-text {
                    width: 100%;
                }
            }
        }
    }

    /* CONTACT */

    .form {
        grid-row: 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 40px 350px 50px 50px;
        gap: $xsmall;
        margin: $small;

        & .form__h2-container {
            grid-column: 1/3;
            grid-row: 1;
            justify-self: center;
        }    

        & .form__textarea-container {
            grid-column: 1/3;
            grid-row: 2;
            margin: $small 0;
        }    
        
        & .form__input-container--name {
            grid-column: 1;
            grid-row: 3;
            width: 100%;
        }    

        & .form__input-container--email {
            grid-column: 2;
            grid-row: 3;
            width: 100%;
        }

        & .form__button-container {
            grid-column: 1/3;
            grid-row: 4;
            justify-self: center;
            width: 100%;
            
            & .form__button {
                width: 100%;
            }
        }
    }
}