/* ESTILO PROGRESS BAR */

.progress {
    position: sticky;
    top: 0;
}

/* ESTILO BLOG ART 1 */

.blog-container-1 {
    height: 100%;
    margin: var(--xsmall);
    padding: var(--xsmall);
    border: 1px solid var(--text-color);
    font-family: var(--text-font);
    color: var(--text-color);


    &__article-1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(160px);
        padding-left: var(--xsmall);

        .header-1 {
            grid-column: 1 / span 3;   
            grid-row: 1 / 2;

            &__h1 {
                text-align: center;
                font-size: 5em;
                font-family: var(--text-font);
                font-weight: 600;
                color: var(--text-color);
                text-transform: uppercase;
            }

            & p {
                font-size: var(--text-font-size);
                border-bottom: 1px solid var(--text-color);
                text-align: center;
            }
        }

        .main-1 {
            grid-column: 1 / span 3;
            grid-row: 2 / 3;

            .& h4 {
                font-size: var(--medium);
                font-family: var(--text-font);
                color: var(--text-color);
                text-decoration: underline;
            }

            & p {
                margin: var(--small) 0;
                font-size: var(--text-font-size);
                text-align: justify;
            }

            & p:first-child {
                font-style: italic;
                padding-bottom: var(--medium);
                text-align: center;
                margin-top: var(--large);
            }

            & .main__img {
                width: 70%;
                object-fit: cover;
            }
        }

        .aside-1 {
            text-align: center;
            margin: var(--xsmall);
            grid-column: 4 / 5;
            grid-row: 1 / span 3;
        }

            .aside-1  h4 {
                margin: var(--xsmall);
                text-align: justify;
                font-size: var(--title-font-size);

                &  p {
                    margin: var(--xsmall);
                    text-align: justify;
                    padding-bottom: var(--xsmall);
                    border-bottom: 1px solid var(--text-color);
                    font-size: var(--text-font-size);
                }

                & a {
                    text-decoration: none;
                    color: var(--text-color);
                }

                .aside__img {
                    height: 200px;
                    width: 70%;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-bottom: var(--xsmall);
                }
            }

        .footer-1 {
            grid-column: 1 / span 3;
            grid-row: 3 / span 1;
            display: flex;
            flex-flow: row wrap;
            border-top: 1px solid var(--text-color);
            justify-content: flex-start;
            padding-top: var(--small);

            &__ul {
                padding: 0;
            }

            &__li {
                display: inline-block;
                margin-right: var(--xsmall);
                font-size: large;
            }
        }
    }
}