/* ESTILO PRINTS */

.print-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
    position: relative;
    justify-content: space-evenly;
    row-gap: $large;
    column-gap: $xsmall;
    margin: $medium;

    & .print__article {
        align-self: center;
        justify-self: center;
        position: relative;
        height: 400px;
        width: 100%;
        max-width: 550px;
        padding: $xsmall;
        border-radius: 2%;
        opacity: 1;
        margin-top: $medium;
        border: 1px solid $text-color;
        box-shadow: 0 0 30px #aaa;

        &:hover {
			img {
				opacity: .4;
			}
			.price {
				opacity: 1;
				transform: rotate(360deg) scale(1.5);
			}
		}

        & .print__figure {
            margin: 0;

            & .print__img {
                height: 300px;
                width: 100%;
                object-fit: cover;
            }
        }

        & .print__section-div {

            & .print__section--h3 {

                & .print__section__h3 {
                    font-family: $text-font;
                    font-weight: 400;
                    color: $text-color;
                    margin: $small 0;
                }
            }
        }

        & .price {
            position: absolute;
            top: 35% ;
            left: 35%;
            padding: $xsmall $small;
            border: 1px solid $text-color;
            background-color: $main-color;
            font-family: $text-font;
            font-weight: 400;
            color: $text-color;
            font-size: $text-font-size;
            opacity: 0;
            cursor: pointer;
            transition: all 1.2s ease;
        }
    }
}