/* MIXINS AND MAPS(HEADER, FOOTER, INDEX, BLOG) */ 

@mixin flex($flow, $justify, $align) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
}

@mixin mediaQ($breakpoint, $breakpoints: $breakpoints) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint: map-get($breakpoints , $breakpoint);
    }
    @media only screen and (max-width: #{$breakpoint}) {
        @content;
    }
}
