/* MIXINS AND MAPS(HEADER, FOOTER, INDEX, BLOG) */ 

@mixin flex($flow, $justify, $align) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
}

@mixin mediaQ($breakpoint, $breakpoints: $breakpoints) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint: map-get($breakpoints , $breakpoint);
    }
    @media only screen and (max-width: #{$breakpoint}) {
        @content;
    }
}

/* EXTEND */

%input_style {
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
    color: $text-color;
    padding: $xsmall;
    background-color: $main-color;
    border-radius: $xsmall;
    border-bottom: 2px solid $text-color;
    font-family: $title-font;
    font-weight: 600;
    color: $text-color;
    font-size: $text-font-size;
}
