:root {
    $main-color: #FFFFFA;
    $text-color: #8E6C88;

    $title-font: 'Italiana' , serif;
    $text-font: 'DM Sans', sans-serif;

    $text-font-size: 2em;
    $title-font-size: 2.2em;
    $sup-title-font-size: 2.5em;
    $bio-title: 3.5em;
    $animation-font-size: 4em;

    $xsmall:1rem;
    $small: 2rem;
    $medium: 2.5rem;
    $large: 3rem;
}